<footer class='home-footer'>
  <div class="inner">
      <ul>
        <li><a href="/setting-up-a-tampon-club/">Set up your own Tampon Club</a></li>
        <li><a href="/tampon-club-for-folks-who-dont-use-tampons/">Tampon Club for folks who don't use tampons</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
    <p>Email us at <a href="mailto:hi@tampon.club">hi@tampon.club</a> or contact us on Twitter via <a href="http://twitter.com/tampon_club">@tampon_club</a>.</p>
  </div>
  {% include analytics.html %}
  <!--
  Thanks for the design work Mark Hurrell! <3
  Thanks for the copy changes Matt Sheret! <3

   ,-------------.
  (o) _ __ _____  )--.
   `-------------'    )
                     (     /
                      `---' !-->
</footer>
