* {
margin: 0;
}

html, body {
  height: 100%;
}

.inner {
  min-height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
  max-width: 800px;
  overflow: auto;
}

footer, .pusher {
  height: 60px;
}

.home, .page, .quiz{
  margin: $gutter $gutter-half;
  padding-bottom: $gutter*2;

  @include media(desktop){
    margin-top: $gutter*2;
  }

  p {
    margin-bottom: 20px;
  }
}

h1 {
  line-height: 1.2em;
}

h2 {
  padding-top: $gutter;
  line-height: 1.2em;
}

.home h2 {
  @include media(desktop){
    transform: rotate(-10deg) translate(-50px, -30px);
    max-width: 53%;
    text-align: center;
    padding-top: $gutter*2;
  }
}

.header {
  background: url(/images/logo.svg) no-repeat;
  background-size: 200px;
  width: 200px;
  height: 200px;
  margin: $gutter auto;

  @include media(desktop){
    background-size: 250px;
    height: 250px;
    width: 250px;
    float: left;
    margin-top: 0;
  }
}

#top-nav {
  background-color: $footer-colour;
  font-size: $small-font-size;
  padding: $gutter-half;

  .nav-inner {
    margin: 0 auto;
    max-width: 800px;
  }

  ul {
    margin: 0;
    li {
      @include media(desktop){

        display: inline-block;
        padding: 0 $gutter-half;
      }
    }
  }

  a {
    color: $footer-text-colour;
  }
}

.content {
  @include media(desktop){
    margin-left:300px;
  }
}

.quiz-nav {
  margin-top: 3em;
  text-align: right;
}

header.site-header-slim {
  background-color: $background-colour;
  margin-bottom: $gutter;
}


.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Site footer
 */
footer {
  background-color: $footer-colour;
  color: $footer-text-colour;
  font-size: $small-font-size;

  &.home-footer {
    height: 200px;

    @include media(desktop){
      height:100px;
    }

    p, ul {
      padding: $gutter-half;

      @include media(desktop){
        display: inline-block;
        width: 46%;
        float: left
      }
    }

    ul {
      margin-left: 0;
      li {
        list-style: none;
      }
    }
  }

  p {
    padding: $gutter-half;

    @include media(desktop){
      text-align:right;
    }
  }
}

footer a,
header a,
#top-nav a {
  color: $footer-text-colour;

  background-image: linear-gradient(0deg, $footer-text-colour 0%, $footer-text-colour 50%);

  text-shadow: -0.18em 0 0 $footer-colour,
               0.18em 0 0 $footer-colour,
               -0.12em 0 0 $footer-colour,
               0.12em 0 0 $footer-colour,
               -0.06em 0 0 $footer-colour,
               0.06em 0 0 $footer-colour,
               0 -1px 0 $footer-colour,
               0 1px 0 $footer-colour;

  &:hover,
  &:focus {
    background-image: linear-gradient(0deg, $link_underline 0%, $link_underline 50%);
  }
  &:visited {
    color: $footer-text-colour;
  }
}

/**
 * Page content
 */
.page-content {
    padding: $gutter 0;
}

.page-heading {
    font-size: 20px;
}



/**
 * QUIZ
 */

.quiz {
  .quiz-header {
    margin: $gutter 0;
  }

  h1.title {
    line-height: 1.2em;
    transform: rotate(-10deg) translate(-50px, -30px);
  }

  a.button {
    margin-top: $gutter*2;
    font-size : 4em;
    text-shadow: none;
    text-align: center;
    background-image: none;
    background-color: $brand-colour;
    cursor: pointer;
    font-family: $base-font-family;
    font-style:italic;
    color: $background-colour;
    border: none;
    width: 47%;
    padding: 1%;
    display: inline-block;

    &:hover {
      background-color: darken($link-colour, 10%);
    }

    &:active {
      background-color: $secondary-brand-colour;
    }
  }
}
