<!DOCTYPE html>
<html>
  {% include head.html %}
<body>
  <div class='inner quiz'>
    {% include header.html %}

    <div class='content'>
      <h1>Tampon Club for Dudes - the Quiz!</h1>
      <h2 id='question'></h2>
      <p id='subtext'></p>
      <div id='answers'>
        <button class='first answer' id='answer1'>
          Yes
        </button>
        <button class='second answer' id='answer2'>
          No
        </button>
      </div>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
